* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 100vh;
  margin: 0;
  padding: 60px;
  background: transparent linear-gradient(92deg, #105F83 0%, #FBC100 100%) 0% 0% no-repeat padding-box; 
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
}
.description {
  font-family: Arial;
  color: antiquewhite;
}
.error-message {
  color: #dc3545;
  font-family: "Roboto";
  font-size: 14px;
}
.banner-form {
  width: 295px;
  background: #FBC100;
  border-radius: 15px;
  padding: 20px 30px;
}

.banner-form form  { } 
.banner-form form ul {padding: 0px; margin: 0px;}
.banner-form form ul li {list-style-type: none; padding-bottom: 10px;}
.banner-form form ul li p {margin: 0px; padding: 0px;}
.banner-form form ul li .form-control {width: 100%; background: #ffffff; border-radius: 6px; height: 50px; border: 0px; padding: 0 20px; }
.banner-form form ul li .form-select {width: 100%; background: #ffffff; border-radius: 6px; height: 50px; border: 0px; padding: 0 20px; }
.banner-form form ul li .form-area {width: 100%; background: #ffffff; border-radius: 6px; padding: 10px 20px; resize: none; font-size: 20px; color: #000000;} 
.banner-form form ul li .form-button {width: 100%; height: 54px; background: #105F83; border-radius: 6px; color: #ffffff; font-size: 16px; 
  text-transform: uppercase; border: 0px; cursor: pointer; }
.form-elements {
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
  border-radius: 8px;
  border: 0px;
}
.investmentpage {
  background-color: azure;
  text-align: center;
  height: 72vh;
  background-repeat: no-repeat;
  align-items: baseline;
}
.investheadings h2 {
  margin: 0px;
}
.benefits {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}
.benefitbox {
  border-style:groove ;
  border-color: black;
  width: 220px;
  height: 140px;
  margin: 10px;
  padding-top: 15px;
  border-width: 2px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px #0000001A;
}
.groupimg {
  background-repeat: no-repeat;
}
.servicesofferedmain {
  background-color: #E6EFF2;
  padding-left: 200px;
}
.servicesofferedmain h2 {
  margin: 0px;
}
.servicesofferedpage {
  margin-bottom: 0;
  column-count: 2;
  max-width: 800px;
}
.landmonitoring ul {
  list-style-type: none;
}
.services-container p {
  background-color: #FBC100;
  font-size: xx-large;
  margin: 0 300px;
  width: 480px;
  height: 88px;
  padding-top: 25px;
  border-radius: 50px;
}
.landmonitoring {
  width: 100%;
  padding: 20px;
  display: inline-block;
  border-style: solid ;
  border-color: black;
  margin: 10px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0px 0px 50px #930f0f08;
}
.benefits2{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #CEA752;
  padding: 0 150px;
}
.benefits2 div {
  display: flex;
  border: #000000;
  border-right-style: solid;
  border-width: 1.5px;
  padding: 0 20px;
}
.tilted-img {
  -webkit-clip-path: polygon(100% 81%, 0% 100%, 100% 100%);
clip-path: polygon(100% 81%, 0% 100%, 100% 100%);
background-color: #1D3155;
}
.benefits3main {
  background-color: #D8B361;
  padding-left: 200px;
}
.benefits3 {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-count: 2;
  max-width: 900px;
}
.benefit3detail{
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 305px;
  height: 40px;
  padding: 0 20px;
  margin: 10px;
  background-image: url('Path 9812.png');
  background-repeat: no-repeat;
  background-position: right;
  margin: 0px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
}
.footer-sec {
  margin: 10px 40px;
}
.icons{
  width: 20px;
  height: 20px;
  margin-left: 60px;
  border-style: solid;
  border-radius: 20px;
  padding: 1px;
}
.logo {
  width: 40px;
  height: 20px;
}
.logo2 {
  width: 150px;
  height: 75px;
}
.footer-sec h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


