body{
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 100vh;
  margin: 0;
  padding: 113px;
  background: transparent linear-gradient(92deg, #105F83 0%, #FBC100 100%) 0% 0% no-repeat padding-box; 
}
.logo{
  padding-top: 20px;
}
.container {
  height: 528px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
}
.form-control {
  max-width: 395px;
}
.list-items {
  list-style: none;
  margin: 0;
  padding: 20px;
}



